.container {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-bottom: 150px;

}

.lienheader {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 13px;
}

.content {

	justify-content: center;
	margin: auto;
	text-align: center;
	
}

.search {
	height: 50px;

}

.box
{
	width: 32em;
}

/* 	
text-align: justify;
	margin: auto;

*/


.recherche {
	display: flex;
	flex-direction: row;
	margin: auto;


}

.footerup {
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	bottom: 2em;
}


.lienfooter {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 13px;
}

.footerdown {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;

}

.footerleft {
	display: flex;
	flex-direction: row;
	justify-content: left;

}

.footerright {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	right: 0;
}

